
@{
    ViewBag.Title = "Bio";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Bio</h1>

<article class="main-content">
    <img class="bio-pic" src="~/Images/sean_mirror_mirror.jpg" />
    <p>
        This is where the bio text will go.
    </p>
    <p>
        Bacon ipsum dolor amet landjaeger swine frankfurter, pork belly leberkas picanha turkey sirloin salami tenderloin beef short loin. Pancetta hamburger pastrami pig swine capicola ham hock tri-tip pork t-bone filet mignon tongue picanha beef ribs cow. Bacon meatloaf doner ham chicken cow jowl pig filet mignon turkey corned beef. Jerky short ribs pork chop, tongue chuck filet mignon swine shoulder meatloaf biltong short loin strip steak pig. Sausage beef ribs tri-tip, cow brisket pig ground round pork loin shoulder hamburger beef meatball short loin meatloaf. Swine chuck tri-tip tenderloin hamburger jerky bresaola ground round capicola sausage pork belly. Venison turducken tail, kielbasa bresaola flank andouille short ribs meatloaf brisket turkey pork belly.
    </p>
    <p>
        Andouille jerky tri-tip chicken tenderloin bresaola. Jowl tenderloin meatloaf ball tip corned beef. Boudin pork pork belly bacon ham hock spare ribs pork chop jowl biltong tongue kevin brisket. Tail tri-tip fatback, ribeye sausage filet mignon meatball meatloaf. Corned beef kevin salami, pancetta landjaeger rump shankle strip steak porchetta capicola swine fatback tongue bacon leberkas.
    </p>
    <p>
        Frankfurter shank beef ribs picanha drumstick. Tail swine short loin doner filet mignon pork drumstick meatball ball tip bacon jerky. Tri-tip venison turkey kielbasa. Beef ribs cow strip steak tongue flank prosciutto drumstick.
    </p>
    <p>
        Sirloin kevin venison pork corned beef frankfurter. Landjaeger sausage leberkas, filet mignon spare ribs bresaola swine alcatra. Fatback meatball tri-tip kevin, pig ham kielbasa biltong jerky. Drumstick cupim pancetta pastrami ham hock fatback porchetta salami short loin pork belly alcatra sausage spare ribs bacon shankle.
    </p>
</article>
<aside class="side-bar">
    "Here are some quotes from people about how awesome Sean is." -Steven Shepherd
</aside>
<div class="clearfix"></div>