
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.IsContactActive = true;
}

<h1>Contact Sean</h1>

<article class="main-content">
    <form>
        <dl>
            <dt>
                <label>Your Name (Required)</label>
            </dt>
            <dd>
                <input type="text" name="name" />
            </dd>
            <dt>
                <label>Your Email (Required)</label>
            </dt>
            <dd>
                <input type="email" name="email" />
            </dd>
            <dt>
                <label>Subject</label>
            </dt>
            <dd>
                <input type="text" name="subject" />
            </dd>
            <dt>
                <label>Message</label>
            </dt>
            <dd>
                <textarea name="message">Leave a message for Sean...</textarea>
            </dd>
        </dl>
        <input type="submit" name="send" value="Send" class="submit-contact"/>
    </form>
</article>
<aside class="side-bar side-bar-contact">
    <section>
        <p>
            Email
        </p>
        <p>
            fakeaddress@fakemail.com
        </p>
    </section>
    <section>
        <p>
            Phone
        </p>
        <p>
            (555) 555 - 5555
        </p>
    </section>
</aside>
<div class="clearfix"></div>