@{
    ViewBag.Title = "Home Page";
}

<h1>
    Links to Demos
</h1>

<div>
    <ul>
        <li>
            <a href="/Home/Accordion">Accordion Demo</a>
        </li>
        <li>
            <a href="/Home/TabPanels">Tab Demo</a>
        </li>
        <li>
            <a href="/Home/ModalWindow">Popup "Modal" Demo</a>
        </li>
    </ul>
</div>