@{
    ViewBag.Title = "PictureModals";
}

<link rel="stylesheet" type="text/css" href="~/Content/modal.css" />

<h2>Picture Popups</h2>

<div class="picture-grid">
    <div class="picture-container">
        <img alt="img-1" src="~/Images/sean1920s.jpg" />
    </div>
    <div class="picture-container">
        <img alt="img-1" src="~/Images/sean1920s.jpg" />
    </div>
    <div class="picture-container">
        <img alt="img-1" src="~/Images/sean1920s.jpg" />
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>

@section scripts {
    <script src="~/Scripts/modal-window.js"></script>
    <script src="~/Scripts/modal-init.js"></script>
}