.picture-grid {
    float: right;
    position: relative;
    right: 50%;
}

.picture-container {
    float: left;
    position: relative;
    left: 50%;
    border: 1px solid orange;
    padding: 10px;
    margin: auto 20px;
}

.picture-container img {
    display: block;
    width: 300px;
}

.modal {
    position: absolute;
    z-index: 1000;
    display: block;
}
