body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: black;
    color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a {
    color: orange;
}

a:hover,
a:focus,
a:visited {
    color: darkorange;
}

ul {
    list-style: none;
}