@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    width: 960px;
    margin: auto;
    background-color: #F1F1F1;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif
}

.body-container {
    width: 100%;
 }

header {
    margin: 20px 0 40px 0;
}

.title {
    font-family: 'Cinzel', serif;
    font-size: 3em;
}

.title-sub {
    font-family: 'Cinzel', serif;
    font-size: 1em;
}

nav {
    margin-top: 50px;
}

nav li {
    float: left;
    width: 219px;
    margin: 0 10px;
    text-align: center;
    font-family: 'Cinzel', serif;
    border-right: 1px solid black;
    font-weight: bold;
}

nav li:last-child {
    border-right:none;
}

nav li a:hover,
nav li a.active {
    color: white;
    background-color: black;
}

a {
    color: black;
    text-decoration: none;
}

.body-content {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 0;
    width: 100%;
    line-height: 1.5;
    font-size: 1em;
    color: #333;
}

.body-content p {
    margin-bottom: 1.5em;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 5px 20px 20px;
}

.download-link {
    margin: 10px;
    font-size: 1.5em;
    float: right;
}

.download-link:hover {
    font-style: italic;
}

.download-link img {
    height: 24px;
    vertical-align:top;
}

object {
    height: 1075px;
    width: 940px;
    margin: auto;
    display: block;
}

.main-content {
    float: left;
    width: 600px;
    padding: 10px;
    margin: auto 10px;
}

.side-bar {
    float: left;
    width: 280px;
    min-height: 300px;
    padding: 10px;
    margin: auto 10px;
    background-color: #DC0;
    color: white;
}

.bio-pic {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}



/* Misc */
.clearfix {
    clear: both;
}

.under-construction {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
    margin: 50px auto;
    width: 300px;
}